/* my default stuff & font */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
}

/* fixed background styles*/

.black {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    background-color: black;
    top: 0;
    left: 0;
    z-index: -12;
}

/* #fixed {
    background-image: url('img/background.jpg');
    position: fixed;
    display: block;
    opacity: .5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: no-repeat center center;
    transform: translateZ(0);
    will-change: transform;
    z-index: -1;
  } */

  /* test for mobile background fix */
  body:before {
    content: "";
    display: block;
    position: fixed;
    opacity: .5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url('img/background.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
/* wrapper & main grid container styles*/
.wrapper {
    margin: 20px;
    max-width: 100%;
    height: fit-content;
}

.grid_container {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "header header"
    "hero hero"
    "main main"
    "footer footer";
}

/* header styles */
header {
    grid-area: header;
    text-align: center;
    align-items: center;
    display: grid;
    grid-gap: 1em;
    /* background-color: lightblue; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "header_top header_top"
    "header_left header_right";
}

.header_top {
    grid-area: header_top;
    display: flex;
    justify-content: center;
}

.logo {
    width: 100px;
    height: auto; 
}

.logo img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  

.header_left {
    grid-area: header_left;
    display: flex;
    justify-content: center;
}

.navigation_list {
    display: flex;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
}

.navigation_list li {
    margin-right: 10px;
}

.navigation_list li a {
    color: 	#B22222;
}

.navigation_list li a:hover {
    text-shadow:
    2px 0px 2px #C0C0C0,
    0px 2px 5px #000;
}

.header_right {
    grid-area: header_right;
}

#aside_dispose_mobile {
    display: none;
}

/* hero styles */
.hero {
    grid-area: hero;
    display: grid;
    height: 160px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "hero_2";
    background: url('img/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    position: relative;
}

.hero_overlay {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0.1) 50%, rgba(0,0,0,1) 100%);
    position: absolute;
    top: 0;
    height: 160px;
    width: 100%;
}

.hero_1 {
    grid-area: hero_1;
    display: none;
    text-transform: uppercase;
    color: white;
    z-index: 10;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
    text-shadow: 0px -2px 2px #000000;
}

.hero_2 {
    grid-area: hero_2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_2 button {
    padding: 10px;
    background-color: yellow;
    border: 2px solid transparent;
    z-index: 10;
}

.hero_2 button:hover {
    border: 2px solid black;
}

.hero_2 button:active {
    transform: scale(.9);
}

/* advert for desktop version */
.advert_desktop {
    grid-area: advert_desktop;
    display: none;
    background: url('img/dominos.jpg');
    background-size: contain;
    background-position: center;
    animation: animate_desktop 5s linear infinite;
}

@keyframes animate_desktop {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(.9);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
/* advert for mobile version */
.advert_mobile {
    grid-area: advert_mobile;
    background: url('img/dominos.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    margin-bottom: 20px;
    animation: animate_mobile 3s linear infinite;
}

@keyframes animate_mobile {
    0% {
      transform: rotateX(0deg);
    }
  
    25% {
      transform: rotateX(90deg);
    }

    50% {
        transform: rotateX(180deg);
    }
  
    100% {
      transform: rotateX(0deg);
    }
  }

/* main content styles */
main {
    grid-area: main;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "article"
    "advert_mobile"
    "article_list";
    /* background-color: lightcyan; */
    text-align: justify;
    color: white;
}

article {
    grid-area: article;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 10px;
}

.article_list {
    grid-area: article_list;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article_list p {
    margin-bottom: 20px;
}

.article_list ul {
    text-align: center;
}

.article_list ul li {
    margin-bottom: 10px;
}

.article_list a {
    color:#B22222;
    display: block;
    line-height: 20px;
}

.article_list a:hover {
    color:white;
    font-size: 1.5em;
    transition: ease-in .3s;
}

aside {
    grid-area: aside;
    background-color: lightsalmon;
    display: none;
}

/* footer styles */
footer {
    grid-area: footer;
    color: white;
    /* background-color: lightpink; */
}

/* box shadow class */
.shadow {
    box-shadow: 0px 0px 10px 7px rgba(48,48,48,0.8);
}

/* media queries */
@media (min-width: 576px) {
    .grid_container {
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
        "header header"
        "hero hero"
        "main main"
        "aside aside"
        "footer footer";
    }

    header {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "header_top header_left header_right";
    }


    .hero {
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
        "hero_1"
        "hero_2";
    }

    .hero_1 {
        display: flex;
        padding: 0;
        padding-top: 10px;
        align-items: center;
    }

    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
        "article advert_mobile"
        "article_list article_list";
    }

    aside {
        display: block;
    }

    #aside_dispose_mobile {
        display: block;
    }
}

@media (min-width: 992px) {
    .grid_container {
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "header header"
        "hero advert_desktop"
        "main aside"
        "footer footer";
    }

    header {
        grid-gap: 0;
    }

    .navigation_list {
        font-size: 2em;
    }

    .hero {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "hero_1 hero_2";
    }

    .hero_1 {
        padding-top: 0;
        align-items: flex-start;
        padding-left: 20px;
    }

    .hero_2 button {
        padding: 20px;
    }

    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "article article_list";
    }

    .advert_desktop {
        display: block;
    }

    .advert_mobile {
        display: none;
    }
}